body {
    background-color: #C8C8C8;
}
h1{
  color:#286360;
}
a{
  color:#C8C8C8;
}
.twitter{
  color:#4099FF;
}
#skytron{
    position: relative;
    height: 200px;

}
.jumbotron{
  overflow: hidden;
  color:#C8C8C8;
  background-color: #286360;
  position: relative;
    z-index: 100;

   background: rgb(0, 0, 0); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.0); 

}
.skytron{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: 25px;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}
.terminal{
  color:#C8C8C8;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}